@using ElektrikDunyasi.Models.Entity;
@model List<EDergi>

@{
    ViewBag.Title = "Dergi";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container" style=" position: relative; margin: 50px auto; width: 100%; height: 1000px; padding:0px;">
    @foreach (var item in Model)
    {
        <iframe style="position: relative; width: 100%; height: 1000px;" src="@item.EDegiUrl"></iframe>
    }
</div>
